<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication3">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 카메라, 갤러리 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="핑크보이스"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication3">

        <activity
            android:name=".SeatView"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".SubwayTimeActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Test.NoActionBar">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Test.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat" />

        <meta-data
            android:name="com.example.myapplication3.API_KEY"
            android:value="API KEY 넣기"/>
    </application>

</manifest>
